{% extends 'oscar/base.html' %}
{% load static %}

{% block description %}
Широкий вибір товарів для вашого будинку! У нас ви знайдете все для кухні,
будинки, спорту, зоотовари та багато іншого. Якісні товари за доступними цінами.
Купуйте із задоволенням та створюйте затишок у своєму будинку.
{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
{% endblock %}

{% block extrahead %}
<meta name="keywords"
    content="Блендер для детского пюре,Блендер для дома,Блендер для кухни,Блендер для молочных коктейлей,Блендер измельчитель,Блендер переносной,Блендер погружной нержавеющая,Маленький блендер,Миксер блендер ручной,Мощный блендер,Портативный блендер,Портативный блендер для смузи,Ручной погружной блендер,Электрический блендер,Блендер для измельчения мяса,Блендер для мяса,Блендер кухонный настольный,Блендер чаша измельчитель,блендер,товары для кухни,профессиональный блендер,блендер для нарезки,нарезка овощей,нарезка фруктов,здоровая пища,бытовая техника,товары на подарок,подарок для женщины,блендер для кухні,купити блендер,нарізка овочів,товари для жінок,подарунок для жінки">
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
{% endblock %}

{% block scripts %}
<script src="{% static 'script/checkout/checkout.js' %}"></script>
<script
    src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}