# Files we don't want to copy in our Docker Image
*.egg-info
.vscode
.coverage
.gitignore
.git
.tox
build
coverage-html
docs/_site
venv
env
.tox
**/*.pyc
.cache
media
Dockerfile
.dockerignore
README.md
LICENSE
docker-compose.yml
docker-compose.image.yml
debug.log
run.py
Makefile
Vagrantfile
.shopping-online-tour
