{% extends 'oscar/catalogue/browse.html' %}
{% load i18n %}
{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}


{% block column_left %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <h4>{% trans "Show results for" %}</h4>
        <div class="side_categories card card-body bg-light">
            <ul class="nav nav-list flex-column">
                {% for tree_category in tree_categories %}
                    <li class="mt-2">
                        <a href="{{ tree_category.url }}">
                            {% if tree_category.pk == category.pk %}
                                <strong>{% trans tree_category.name %}</strong>
                            {% else %}
                                {% trans tree_category.name %}
                            {% endif %}
                        </a>

                        {% if tree_category.has_children %}<ul>{% else %}</li>{% endif %}
                        {% for n  in tree_category.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories card card-body bg-light">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'oscar/search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
