{% extends 'oscar/partials/nav_accounts.html' %} 
{% load i18n %}

{% block nav_account_languages %}
<!-- templates/base.html -->

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}">
    <select name="language" id="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                {{ lang.1 }}
            </option>
        {% endfor %}
    </select>
</form>

{% endblock %} 
